extends ../layout
block script
    script(type='text/javascript', src='/javascripts/department/buttonForm.js')
    script(type="text/javascript") $(document).ready(function () { $('.tree').treegrid(); });

mixin edit-department-button(obj)
    - obj = obj
    a(class='#{obj.class}', style='margin-bottom: 5px', onclick='#{obj.onClick}')
        img(src='#{obj.img}', style='width: 15px')

mixin create-department-button(obj)
    - obj = obj
    a(class='#{obj.class}', style='margin-bottom: 5px', onclick='#{obj.onClick}') #{obj.title}


mixin show-employee-button(obj)
    - obj = obj
    a(href='#{obj.href}', class='#{obj.class}', style='margin-bottom: 5px')
        img(src='#{obj.img}', style='width: 15px')

block content
    div.row
        div.col-sm-7
            +create-department-button({
                class: 'btn btn-info btn-lg',
                title: 'Создать',
                onClick: 'editDepartment(null)'
            })

            table(class="tree")
                each department in departments
                    if department.parentId != null
                        tr(class='treegrid-#{department.id} treegrid-parent-#{department.parentId}')
                            td(content=department.id) #{department.name}
                            td
                                div.btn-group
                                    +edit-department-button({
                                        class: 'btn btn-primary btn-xs',
                                        img: '/img/pencil.png',
                                        onClick: 'editDepartment(' + department.id + ')'
                                    })
                                    +edit-department-button({
                                        class: 'btn btn-primary btn-xs',
                                        img: '/img/delete.png',
                                        onClick: 'deleteDepartment(' + department.id + ')'
                                    })
                                    +show-employee-button({
                                        class: 'btn btn-primary btn-xs',
                                        img: '/img/search.png',
                                        href: '/employee/' + department.id
                                    })
                    else
                        tr(class='treegrid-#{department.id}')
                            td(content=department.id) #{department.name}
                            td
                                div.btn-group
                                    +edit-department-button({
                                        class: 'btn btn-primary btn-xs',
                                        img: '/img/pencil.png',
                                        onClick: 'editDepartment(' + department.id + ')'
                                    })
                                    +edit-department-button({
                                        class: 'btn btn-primary btn-xs',
                                        img: '/img/delete.png',
                                        onClick: 'deleteDepartment(' + department.id + ')'
                                    })
                                    +show-employee-button({
                                        class: 'btn btn-primary btn-xs',
                                        img: '/img/search.png',
                                        href: '/employee/' + department.id
                                    })
