form(method='post', class='cmxform', id='departmentFormEdit', action= department?'/update_dep':'/add_dep')
    label(for="sel1") Входит в:
    select(class="form-control", id="sel1", name='parent')
        option(value='null') Нет
        if department
            each item in Object.keys(lists)
                if department.parentId == item
                    option(value=item, selected=true) #{lists[item]}
                else
                    option(value=item) #{lists[item]}
        else
            each item in departments
                option(value=item.id) #{item.name}
    label(for="name") Название
    input(type="text", id="name", name="name", class="form-control", value= department?'#{department.name}':'')
    label(for="desc") Описание
    input(type="text", id="desc", name="desc", class="form-control", value= department?'#{department.description}':'')
    input(type="hidden", id="elId", name="elId", class="form-control", value= department?'#{department.id}':'')
    button(style="margin-top: 5px", class="btn btn-success") Сохранить