extends ../layout
block script
    script(type="text/javascript", src='/javascripts/employee/actionUserButton.js')


mixin edit-emoloyee-button(obj)
    - obj = obj
    a(class='#{obj.class}', style='margin-bottom: 5px', onclick='#{obj.onClick}')
        if obj.img
            img(src='#{obj.img}', style='width: 15px')

mixin create-emoloyee-button(obj)
    - obj = obj
    a(class='#{obj.class}', style='margin-bottom: 5px', onclick='#{obj.onClick}') #{obj.title}

block content
    div.row
        div.col-sm-7
            +create-emoloyee-button({
                class: 'btn btn-info btn-lg',
                title: 'Создать',
                onClick: 'editEmployee(null)'
            })
            table(class="user_table table-hover")
                tr(class='user_row-head')
                    td ФИО
                    td Пол
                    td День рождения
                    td Действия
                each user in users
                    tr(class='user_row-#{user.id}')
                        td(content=user.fullName) #{user.fullName}
                        td(content=user.sex) #{user.sex}
                        td(content=user.birthday) #{user.birthday}
                        td
                            div.btn-group
                                +edit-emoloyee-button({
                                    class: 'btn btn-primary btn-xs',
                                    img: '/img/pencil.png',
                                    onClick: 'editEmployee(' + user.id + ')'
                                })
                                +edit-emoloyee-button({
                                    class: 'btn btn-primary btn-xs',
                                    img: '/img/delete.png',
                                    onClick: 'deleteEmployee(' + user.id + ')'
                                })

            a(href='/', class="btn btn-info btn-lg", style='margin-top: 5px') На главную страницу