form(method='post', class='cmxform', id='userFormEdit', action= user ? '/employee/update_user' : '/employee/add_user')
    label(for="name") ФИО
    input(type="text", class="form-control", id="name", name='fullName', value= user ? '#{user.fullName}' : '')
    label(for="sex") Пол
    select(class="form-control", id="sex", name='sex')
        if user
            if user.sex === 'Мужчина'
                option(value='Мужчина', selected=true) Мужчина
                option(value='Женщина') Женщина
            else
                option(value='Мужчина') Мужчина
                option(value='Женщина', selected=true) Женщина
        else
            option(value='Мужчина') Мужчина
            option(value='Женщина') Женщина
    label(for="datepicker1") День рождения
    input(type="text", class="form-control", id="datepicker1", name='bd', value= user ? '#{user.birthday}' : '')
    if user
        label(for="sel1") Отдел
        select(class="form-control", id="sel1", name='department')
            each item in departments
                if item.id == user.DepartmentId
                    option(value=item.id, selected=true) #{item.name}
                else
                    option(value=item.id) #{item.name}
        input(type="hidden", class="form-control", id="userId", name='userId', value='#{user.id}')
        input(type="hidden", class="form-control", id="departmentId", name='departmentId', value='#{user.DepartmentId}')
    else
        input(type="hidden", class="form-control", id="depId", name='depId', value='#{parentId}')
    button(class="btn btn-success", style='margin-top: 5px') Сохранить
