doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href="/stylesheets/jquery.treegrid.css")
    link(rel="stylesheet", href="/stylesheets/screen.css")
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/core.css")
    link(rel="stylesheet", href="/stylesheets/cmxform.css")
    link(rel="stylesheet", href="/stylesheets/cmxformTemplate.css")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/plugins/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/javascripts/plugins/jquery.treegrid.js')
    script(type='text/javascript', src='/javascripts/plugins/bootstrap.js')
    script(type='text/javascript', src='/javascripts/plugins/bootbox.min.js')
    script(type='text/javascript', src='/javascripts/plugins/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/plugins/jquery.validate.js')
    block script
  body
    block content
