body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    min-width: 500px;
}

tr {
    font-size: 20px;
}

/*.user_table {*/
    /*border: 1px solid black;*/
    /*border-collapse: collapse;*/
/*}*/

/*.user_table tr,*/
.user_table tr{
    border-top: 1px solid black;
    border-collapse: collapse;
}

a{
    color: white;
}

.ui-datepicker {
    width: auto;
    /*color: white;*/
}
